body{
   background-color:cornsilk; 
   /* display:block;
   margin-left: auto;
   margin-right: auto; */
   /* text-align: center; */
 
  
}
/* HEADDER css */
#header{
    width:100%;
    height:60px;
      border:4px solid black;  
     background-color:red; 

}
 #icon{
    text-align: center;
    font-size:25px;
    margin-top:-34px;  
    
  }
  #social{
    float:right;
    margin-top:-90px; 
    
  }
   #login{
     /* margin-top:-60px; */
    margin-left: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size:22px;
    border:3px solid black;
    background: none;
    padding:10px;
  
     /* color:white;  */

   } 
   #login:hover{
    /* background-color:none; */
    border:3px solid white; 
    color:white;
    text-decoration: underline;
    
   }

   #sign{
     font-size:20px; 
    border:none;
     /* color:white;  */
    /* background-color:black; */
      border:3px solid black;  
      background:none; 
      padding:10px;
      
    /* border-radius:50px; */
    

   }
   #sign:hover{
      /* background-color: none;  */
       border:3px solid white; 
      color:white;
      text-decoration:underline;

   }
   /* #account{
    margin-left:90%;
    font-size:22px;
    border:3px solid black;

   } */
  

      
  .s-logo{
    margin-top:10px;
      width:50px;
    height:50px;  
      margin:0px; 
     
     /* margin-left:300px;  */

 } 
 
/* IMGBAR css */
 #imgsearch{
    width:100%;
    height:650px;
    border:1px solid bisque;
    background-image :url(imgfold/food.png);
background-repeat:no-repeat;    
         /* background-size:cover;       */
 background-size: 100%  900px;    
  /* opacity:0.5;  */
 
}

#e-logo{
    width:250px;
    height:250px;
    background-color:rgba(255, 251, 251, 0.822);
    border-radius:200px;
    margin-left:43%;
    margin-top:5%;
    position:absolute;
    opacity: 10px;
}
#e-logo>span{
    font-size: 100px;
    color:red;
    margin-left:90px;
    margin-top:60px;
    position:absolute;
  
}
#e-logo :hover{
  opacity: 0.3;
  transform: scaleX(-1);

}


#text{
    margin-left:30%;
    margin-top:17%;
    font-size:40px;
    font-weight:bolder;
    color:white;
    
  
}
#place{
     
    
    width:400px;
    height:60px;
    margin-left:19%;
     margin-top:27%;
    
    
}
#rest{
   width:600px;
   height:60px;
   margin:20px;

}

/* imgsrc css */
#quicksearch{
   
     width:100%;
    /* height:500px;
    border:3px double blue; */
}
#place{
  font-size: 20px;
  padding:9px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
}
#rest{
  font-size: 20px;
  padding:9px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}
#quick{
    font-size:35px;
    color: #192F60;
}
#pa{
    font-size:25px;
    color: #8C96AB;

}
 .search{
    /* margin-left:20%; */
    font-size:20px;
    color:darkblue;
      /* display: inline;   */
      /* margin-left:40px;
       margin-top:-20px;  */
        margin-left: 150px;
    margin-top: -100px; 

} 
 .para{
    
    font-size:15px;
    color:black;
    margin-left: 190px;
    margin-left:190px;
    margin-top: -40px;
    
    
    /* margin-left: -39px; */
    /* margin:5px;
     margin-left: 340px;  */
    /* display: inline; */
 }  
.container{
    /* border:1px solid black; */
    width:80%;
    height:500px;
}
.inline-block{
    display:inline-block;
    width:400px;
    height:50px;
    /* background-color:antiquewhite; */
    opacity: 2;
     /* border:1px solid black;  */
    margin:20px;
     padding:50px; 
    
}
 img{

    margin-top: -49px;
    margin-left: -50px;
   
} 
img:hover {
  /* opacity: 0.5; */
  transform: scaleX(-1);
 
}





/* fotter css */
  #fotter{
    width:50%px;
    height:150px;
    border:3px double black; 
    background-color: #8C96AB;
  }

